<div class="wrapper_wide">
	<header id="main_header" class="cf">
		<%= link_to 'PodcastApp', root_path, id: "logo" %>
		<nav>
			<ul>
				<li><%= link_to "Explore", podcasts_path %></li>
				<li><a href="#">Sign In</a></li>
				<li><a href="#">Create a Podcast</a></li>
			</ul>
		</nav>
	</header>
</div>