<% provide(:title, "Podcasts") %>

<!-- Header -->
<%= render 'shared/main_header' %>

<!-- Banner -->
<div id="banner" class="podcasts_banner">
  <h1>Discover your new favorite podcast</h1>
</div>

<!-- Podcast previews -->
<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast do %>
          <li>
            <img src="/assets/samplepicture.jpg" alt="Sample Image"> 
            <div class="podcast_overview">
              <h2><%= podcast.title %></h2>
              <p class="episode_count">1 Episode</p>
            </div>
          </li>
        <% end %>
      <% end %>
      
      <a href="#">
        <li>
          <img src="/assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="/assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>      

      <a href="#">
        <li>
          <img src="/assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="/assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="/assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>      
    </ul>
  </div>
</div>
<!-- /Podcasts previews -->

<!-- Pagination -->
<%= render 'shared/pagination'%>