<div class="wrapper_wide">
  <%= render 'shared/main_header' %>
</div>

<div id="banner" class="podcasts_banner">
  <h1>Discover your new favorite podcast</h1>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <a href="#">
        <li>
          <img src="assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>      

      <a href="#">
        <li>
          <img src="assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>

      <a href="#">
        <li>
          <img src="assets/samplepicture.jpg" alt="Sample Image"> 
          <div class="podcast_overview">
            <h2>Narwhals Podcast</h2>
            <p class="episode_count">1 Episode</p>
          </div>
        </li>
      </a>      
    </ul>
  </div>
</div>

<%= render 'shared/pagination'%>