<!-- Header -->
<%= render 'shared/main_header' %>

<!-- Podcasts showpage -->
<div id="podcast_show">
  <div id="show_banner">
    <div class="wrapper_skinny">
      <h1>The Rocketship Podcast</h1>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id placerat magna. Aenean laoreet vitae magna nec sodales. Sed in efficitur libero. Sed auctor congue ligula. Nulla maximus laoreet metus vel lobortis. Mauris vel sollicitudin arcu, id condimentum leo. Cras eu enim ac odio facilisis sodales.
      </p>
      <a href="#" class="subscribe_link">iTunes</a>
      <a href="#" class="subscribe_link">Stitcher</a>
      <a href="#" class="subscribe_link">PodBay</a>
    </div>
  </div>
  
  <div id="breadcrumb">
    <a href="#">
      All Podcasts
      <span>/</span>
      The Rocketship Podcast
    </a>
  </div>
  
  <div id="episode_content">
    <div class="wrapper_skinny">
      <img src="/assets/SteveJobs.jpg" alt="User Image" class="current_episode_thumbnail">
      <h2>How to Pull Off 12 (Well Executed) Startups in 12 months</h2>
      <p>Aenean laoreet vitae magna nec sodales. Sed in efficitur libero. Sed auctor congue ligula...</p>
    </div>
  </div>
  
  <div id="episodes">
    <div class="wrapper_skinny">
      <ul class="cf">
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="#">
              <img src="/assets/SteveJobs.jpg" alt="User Image">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to Pull Off 12 (Well Executed) Startups in 12 months</a></h2>
            <p class="description">Aenean laoreet vitae magna nec sodales. Sed in efficitur libero. Sed auctor congue ligula...</p>
          </div>
        </li>
        
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="#">
              <img src="/assets/SteveJobs.jpg" alt="User Image">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to Pull Off 12 (Well Executed) Startups in 12 months</a></h2>
            <p class="description">Aenean laoreet vitae magna nec sodales. Sed in efficitur libero. Sed auctor congue ligula...</p>
          </div>
        </li>
        
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="#">
              <img src="/assets/SteveJobs.jpg" alt="User Image">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to Pull Off 12 (Well Executed) Startups in 12 months</a></h2>
            <p class="description">Aenean laoreet vitae magna nec sodales. Sed in efficitur libero. Sed auctor congue ligula...</p>
          </div>
        </li>
        
        <li class="cf">
          <div class="episode_thumbnail">
            <a href="#">
              <img src="/assets/SteveJobs.jpg" alt="User Image">
            </a>
          </div>
          <div class="episode_overview">
            <h2><a href="#">How to Pull Off 12 (Well Executed) Startups in 12 months</a></h2>
            <p class="description">Aenean laoreet vitae magna nec sodales. Sed in efficitur libero. Sed auctor congue ligula...</p>
          </div>
        </li>        
      </ul>
    </div>
  </div>
</div>
<!-- /Podcasts showpage -->

<!-- Pagination -->
<%= render 'shared/pagination' %>