<!-- Header -->
<%= render 'shared/main_header' %>

<!-- Banner -->
<div id="banner" class="podcasts_banner">
  <h1>Welcome back!</h1>
</div>

<div id="form">
  <div class="wrapper_skinny">
    <form>
      <div class="field">
        <label>Email</label><br>
        <input type="email" />
      
      <div class="field">
        <label>Password</label><br>
        <input type="password" />
      </div>
      
      <div class="field">
        <label>Text</label>
        <input type="text" />
      </div>
      
      <div class="field">
        <label>Text Area</label>
        <textarea></textarea>
      </div>
      
      <div class="actions">
        <input type="submit" class="button button_highlight button_block">
      </div>
      
      </div>
    </form>
  </div>
</div>